<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col">
        </div>
        <div class="col">
            <div class="row text-center mt-2">
                <%= puts "getting day?"%>
                Day:
                <p id="notification"><%= @notification.title %></p>
                <p id="notification"><%= @notification.category %></p>
                <p id="notification"><%= @notification.date %></p>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>