<%= render partial: "shared/navbar" %>

<div class="row">
    <div class="col text-center justify-content-center pt-5">
        <h1>Editing Comment</h1>
        <%= render 'form' %>
        <%= link_to 'Show', blogpost_comment_path(@blogpost, @comment) %> |
        <%= link_to 'Back', blogpost_comments_path(@blogpost) %>
    </div>
</div>