<div class="container justify-content-center py-5">
    <div class="row justify-content-center">
    <form class="input-group" action="/blogpostsearch">
        <input type="text" class="form-control rounded" placeholder="Search for weather blogpost by title..." aria-label="Search" aria-describedby="search-addon" name="q" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
    </div>
</div>