<div class="container justify-content-center py-5">
    <div class="row justify-content-center">
    <form class="input-group" action="/forecastsearch">
        <input type="text" class="form-control rounded" placeholder="Search for weather reports by date" aria-label="index" aria-describedby="search-addon" name="date" />
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
    </div>
</div>