<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">New Blogpost!</h4>
  <p><p id="newblog">Blog Title :<%= @notification.title  %></p>
  <p>Blog Category: <%= @notification.category%></p>
  <p>Release Date: <%= @notification.date%></p>
  <hr>
  <p class="mb-0">Check the weather reports or dismiss this notification.</p>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>