<head>
  <%= render partial: "shared/navbar" %>
</head>

<div class="container">
  <div class="row pt-4">
    <div class="col-lg-6 text-center justify-content-center">
      <a href="/blogposts"><%= image_pack_tag 'alert.png', width:"140", height:"140", class:"d-inline-block align-top", alt:"all-weather-logo"%></a>
      <h2>Weather Alerts</h2>
      <p><a class="btn btn-secondary" href="/blogposts">View weather reports »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-6 text-center justify-content-center">
      <a href="/blogposts"><%= image_pack_tag 'reports.png', width:"140", height:"140", class:"d-inline-block align-top", alt:"all-weather-logo"%></a>
      <h2>Our Forecasts</h2>
      <p><a class="btn btn-secondary" href="/forecasts">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>

<footer>
  <%= render partial: "shared/footer" %>
</footer>