<head>
  <%= render partial: "shared/navbar" %>
</head>

<h1> Searched Forecast Results</h1>

<%= render partial: "forecasts/forecast_record" %>

<% if @forecasts.blank? %>
    <div class="row justify-content-center">
        <div class="col col-lg-12 justify-content-center text-center">
            <h2 class="text-danger pb-5 pt-5">No records for searched forecast date</h2>  
        </div>
    </div>
<% end %>

<footer>
  <%= render partial: "shared/footer" %>
</footer>